---
layout: compress
---

{% include base_path %}

{{ content }}

<script>
(function() {
  const hour = new Date().getHours();
  const isNight = (hour >= 18 || hour < 6);

  const savedTheme = localStorage.getItem("theme");
  if (savedTheme) {
    document.documentElement.setAttribute("data-theme", savedTheme);
  } else {
    if (isNight) {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.removeAttribute("data-theme");
    }
  }
})();
</script>
